<html>
	<head>
		<title>Thread</title>
	</head>
	<body>
		
		<h1>Thread html</h1>

		<script>
			window.jQuery = window.$ = require('jquery');
		</script>

		<script type="text/javascript" src="dbManager.js"></script>
		<script type="text/javascript" src="thread.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.8/purify.min.js?v0.OB1.0614" integrity="" crossorigin="anonymous"></script>
		<script type="text/javascript" src="bSafesCommon.js"></script>

	</body>
</html>