      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="boxControlsPanel containerControlsPanel panel panel-default hidden">
            <div class="panel-body boxControlsPanelBody">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-0">
									<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoTeamSpaceBtn"><i class="fa fa-square" aria-hidden="true"></i></button>
                  <button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoContainerCoverBtn"><i class="fa fa-archive" aria-hidden="true"></i></button>
                  <button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoContainerContentsBtn"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart pull-right hidden" type="button" id="showContainerSearchInputBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
									<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart pull-right" type="button" id="moreActionsBtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
