<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<title>BSafes - Organize and Secure Your Data</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%
      var fontawesomeV4 = true;
      var editableCSS = true;
    %>
    <% include stylesheets %>
    <% include commonHeader %>
  </head>
  <body class="bSafesBody">
		<span class='hidden' id='itemId'><%=itemId%></span>
    <% include navBar %>
		<% include pathRow %>

    <div class="container">
			<div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
					<div class="containerControlsPanel panel panel-default">
  					<div class="panel-body folderControlsPanelBody">
          		<div class="row">
            		<div class="col-xs-4 col-xs-offset-0">
									<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoCoverBtn"><i class="fa fa-folder" aria-hidden="true"></i></button>
              		<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoContentsBtn"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            		</div>
            		<div class="col-xs-8">
									<div class="pull-right">
										<button class="btn btn-link btn-xs pageNavigationPart" type="button" id="gotoFirstItemBtn"><i class="fa fa-step-backward" aria-hidden="true"></i>&nbsp</button>
										<button class="btn btn-link btn-xs pageNavigationPart" type="button" id="gotoLastItemBtn">&nbsp<i class="fa fa-step-forward" aria-hidden="true"></i>&nbsp</button>
										<button class="containerControlsBtn dropdown-toggle btn btn-link btn-xs pageNavigationPart" data-toggle="dropdown" type="button" id="addAFolderPageBtn">&nbsp<i class="fa fa-plus" aria-hidden="true"></i></button>
										<ul class="dropdown-menu pull-right">
                  		<li><a class="addAction addBefore" href="#">Add before</a></li>
                  		<li><a class="addAction addAfter" href="#">Add after</a></li>
                		</ul>
										<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart pull-right" type="button" id="moreActionsBtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
									</div>
            		</div>
          		</div>
  					</div>
					</div>
				</div>
			</div>	

			<div class="pagePanel folderPanel folderPagePanel">
				<% include itemTopRows %>
        <div class="row pageRow">
          <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <hr>
          </div>
        </div>
				<% include pageCommons %>
			</div>
      <div class="modal titleModal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close closeTitleModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input class="form-control titleInput" type="text" placeholder="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default closeTitleModal" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="createAnItem">Create</button>
            </div>
          </div>
        </div>
      </div>
		</div>
		<% include turningPageRow %>
		<% //include pageCommonControls  %>
    <% include navBarBottom %>
    <% include downloadControls %>
    <%
      var loadForgeJS = true;
      var tagsJS = true;
      var folderPageJS = true;
			var pageControlJS = true;
      var editorJS = true;
      var keyVerifiedState = true;
    %>
    <% include scripts %>
  </body>
</html>
