<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BSafe - Desktop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body class="bSafesBody">
  <div class="bsfesMain"></div>
  <% include navBarBottom %>
<%
var loadForgeJS = true;
var managedMemberSignInJS = true;
var signedOutState = true;
%>
<% include scripts %>
</body>
</html>
