  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
			<!-- <span><a class="navbar-brand navbarTeamName" href="teams.ejs">BSafes</a></span> -->
			<span><a class="navbar-brand navbarTeamName" href="javascript:navigateView('/teams/')">BSafes</a></span>
      </div>
    </div>
  </nav>

