    		<div class="row pageRow titleRow margin0Px">
       		<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<p>
         		<a href="#" class="editControl btnEditor btnWrite btn btn-link btn-xs pull-right" id="title" aria-label="Write"><i class="editControl fa fa-pencil" aria-hidden="true" id="title"></i></a>
         		</p>
						<div class="froala-editor" id="title">	
						</div>
					</div>
				</div>
        <div class="row pageRow">
          <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <hr>
          </div>
        </div>
				<div class="row pageRow editorRow fr-element fr-view">
					<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<p>
            <a href="#" class="editControl btnEditor btnWrite btn btn-link btn-xs pull-right" id="content" aria-label="Write"><i class="editControl fa fa-pencil" aria-hidden="true" id="content"></i></a>
            </p>
						<div class="froala-editor" id="content">
							<p></p>
						</div>
					</div>
				</div>

      	<div class="row pageRow">
        	<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
         		<hr>
        	</div>
      	</div>
		
				<div class="images">
					<div class="imageBtnRowTemplate row hidden">
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
              <label class="editControl imageBtn btn btn-link btn-file btn-lg">
                <h4><i class="fa fa-picture-o fa-lg" aria-hidden="true"></i></h4> <input type="file" multiple class="editControl displayNone" id="image">
              </label>
            </div>
					</div>	
					<div class="row uploadImageTemplate downloadImageTemplate hidden">
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="uploadText downloadText">
          				
        			</div>
            	<div class="progress progress-striped active marginTop20Px marginBottom0Px">
                <div class="sceneControl progress-bar width0Percent"></div>
              </div>
						</div>
					</div>
					<div class="row imagePanelTemplate hidden">
            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="image">
							
							</div>
            </div>
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="btn-group pull-right">
    						<a href="#" class="btn btn-link btnWrite btnWriteImageWords"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    						<div class="btn-group">
      						<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
										<span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
      						</a>
      						<ul class="pull-right dropdown-menu">
										<li>
											<label class="btn btn-link">
                				 + <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i><input type="file" multiple class="insertImages displayNone">
              				</label>
										</li>
        						<li><a href="#" class="changeImageBtn">Change</a></li>
        						<li><a href="#" class="deleteImageBtn">Delete</a></li>
       						</ul>
    						</div>
  						</div>
						</div>
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            	<div class="froala-editor imageWordsEditor">
              	<p></p>
            	</div>
						</div>
					</div>		
				</div>
				<div class="attachments">
					<div class="attachBtnRowTemplate row hidden">
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<label class="editControl btn btn-link btn-file btn-lg">
						 		<h4><i class="fa fa-paperclip fa-lg" aria-hidden="true"></i></h4> <input type="file" multiple class="editControl displayNone" id="attach""
							</label>
						</div>
					</div>
					<div class="row attachmentTemplate hidden">
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<div class="attachmentPanel panel panel-default">
  							<div class="attachmentPanelBody panel-body">
									<div class="attachmentFileNameRow row">
										<div class="attachmentFileNameGrid col-xs-8 col-sm-8 col-md-9">
											<h6><i class="fa fa-file-o" aria-hidden="true"></i> <span class="attachmentFileName">fileName</span></h6>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-3">
											<div class="btn-group pull-right">
												<button type="button" href="#" class="resumeBtn btn btn-link" data-toggle="tooltip" data-placement="top" title="" data-original-title="Resume"><i class="fa fa-play-circle-o fa-lg" aria-hidden="true"></i></button>
												<button type="button" href="#" class="stopBtn btn btn-link" data-toggle="tooltip" data-placement="top" title="" data-original-title="Stop"><i class="fa fa-stop-circle-o fa-lg" aria-hidden="true"></i></button>
												<button type="button" href="#" class="downloadBtn btn btn-link" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download"><i class="fa fa-download fa-lg" aria-hidden="true"></i></button>

												<button type="button" href="#" class="waitNotice btn btn-link"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></button>

      									<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="caret"></span> </a>
      									<ul class="dropdown-menu">
													<li class="deleteAnAttachment"><a href="#">Delete</a></li>
       									</ul>
											</div>
         						</div>
									</div>
									<div class="attachmentFileSizeRow row">
										<div class="col-xs-8 col-sm-8 col-md-9">
											<p class="attachmentFileSize"></p>
										</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<p class="attachmentFileProgress"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row attachmentProgressTemplate hidden">
					<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<div class="attachmentProgress progress">
  						<div class="progress-bar width60Percent"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="comments">
					<div class="row">
						<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							<h4>Comments</h4>
						</div>
					</div>	
					<div class="commentsSearchResults">
						
					</div>
					<div class="commentTemplate">
						<div class="row">
              <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
								<hr class="marginTopBottom0Px">
							</div>
            </div>
						<div class="row">
							<div class="col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
								<h5 class="commentWriterName">New</h5>
							</div>
							<div class="col-xs-6 col-xs-offset-0 col-sm-5 col-md-4">
                <h6 class="commentCreationTime textAlignRight"></h6>
              </div>
						</div>
						<div class="row commentLastUpdateTimeRow hidden">
              <div class="col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
              </div>
              <div class="col-xs-6 col-xs-offset-0 col-sm-5 col-md-4">
                <p class="commentLastUpdateTime fontSize14Px textAlignRight"></p>
              </div>
            </div>
						<div class="row">
							<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            		<p>
            			<a href="#" class="btnEditor btnWrite btn btn-link btn-xs pull-right" id="newComment" aria-label="Write"><i class="sceneControl fa fa-pencil" aria-hidden="true" id="newComment"></i></a>
            		</p>
            		<div class="froala-editor" id="newComment">
            		</div>
          		</div>
						</div>
					</div>	
				</div>
