			<div class="row trashBoxRow">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <a href="#" class="btn btn-link pull-right" id="openTrashBox"><i class="fa fa-5x fa-trash" aria-hidden="true"></i></a>
        </div>
      </div>

