    <div class="turningPageRow">
      <a href="#" class="previousPageBtn pageBtn btn btn-default" id="previousPageBtn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <a href="#" class="nextPageBtn pageBtn btn btn-default" id="nextPageBtn"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
