<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<title>BSafes - Organize and Secure Your Data</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%
      var fontawesomeV4 = true;
      var editableCSS = true;
    %>
    <% include stylesheets %>
    <% include commonHeader %>
  </head>
  <body class="bSafesBody">
		<span class='hidden' id='itemId'><%=itemId%></span>
		<span class='hidden' id='initialDisplay'><%=initialDisplay%></span>
    <% include navBar %>
		<% include pathRow %>

    <div class="container">
			<% include boxControlsPanel %>
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="contentsControlsPanel containerControlsPanel panel panel-default">
            <div class="panel-body boxControlsPanelBody">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-0">
                  <button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart" type="button" id="gotoCoverBtn"><i class="fa fa-archive" aria-hidden="true"></i></button>
									<button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart hidden" type="button" id="gotoContentsBtn"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <button class="containerControlsBtn btn btn-link btn-xs pageNavigationPart pull-right" type="button" id="showSearchInputBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="containerSearchRow row hidden">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
				      <div class="row">
        				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          				<div class="form-group">
            				<div class="input-group">
              				<input type="text" class="form-control input-lg" id="searchInput">
              				<span class="input-group-btn">
                				<button class="btn btn-link" type="button" id="searchBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
												<button class="btn btn-link" type="button" id="cancelSearchBtn"><i class="fa fa-times" aria-hidden="true"></i></button>
              				</span>
            				</div>
         					</div>
        				</div>
      				</div>
						</div>
          </div>
        </div>
      </div>			

      <div class="boxPanel boxCoverPanel containerCoverPanel hidden">
        <br>
        <div class="boxLid">

        </div>
				<% include itemTopRows %>
        <hr class="boxCoverHr hidden">
        <br>
        <div class="row pageRow titleRow marginTop0Px">
          <div class="containerTitleLabel col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <p>
              <a href="#" class="btnEditor btnWrite btn btn-link btn-xs pull-right" id="title" aria-label="Write"><i class="sceneControl fa fa-pencil" aria-hidden="true" id="title"></i></a>
            </p>
            <div class="froala-editor containerTitle" id="title"> 
            </div>
          </div>
        </div>
				<%include containerOpenBtn%>
      </div>

			<div class="pagePanel boxPanel boxContentsPanel containerContentsPanel hidden">
				<br>
				<h2 class="textAlignCenter">Contents</h2>
      	<div class="row">
        	<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
          	<button class="btn btn-primary btn-circle" data-toggle="modal" data-target="#newItemOptionsModal" type="button" id="addAnItemBtn"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        	</div>
      	</div>

      	<div class="row hidden">
        	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
          	<div class="marginBottom0Px">
          		<ul class="listOptionsTab nav nav-tabs text-center">
            		<li id="listAllItems"><a href="#">All</a></li>
            		<li><a href="#">Boxes</a></li>
            		<li><a href="#">Folders</a></li>
            		<li><a href="#">Pages</a></li>
            		<li><a href="#">Notebooks</a></li>
            		<li><a href="#">Diaries</a></li>
          		</ul>
          	</div>
        	</div>
      	</div>

      	<div class="searchResults">
        	<div class="resultItems">
        	</div>
        	<div class="resultItemTemplate row hidden">
          	<div class="col-xs-7 col-xs-offset-1">
								<a href="#" class="itemLink blackText">
              		<div class="">
                		<p class="containerContentsPageTitle itemTitle blackText" id="titleLink">Hello World</p>
              		</div>
								</a>
          	</div>
          	<div class="col-xs-3">
							<div class="btn-group pull-right marginTop0Px">
                <button class="itemControl addItemBtn addContainerItemBtn dropdown-toggle btn btn-link btn-xs" data-toggle="dropdown" type="button">+</button>
                <ul class="dropdown-menu">
                  <li><a class="addAction addBefore" href="#">Add before</a></li>
                  <li><a class="addAction addAfter" href="#">Add after</a></li>
                </ul>
              </div>
							<div class="btn-group pull-right">
                <button class="itemControl itemActionBtn containerItemActionBtn dropdown-toggle btn btn-link btn-xs pull-right hidden" data-toggle="dropdown" type="button"><i class="fa fa-sort" aria-hidden="true"></i></button>
                <ul class="dropdown-menu">
                  <li><a class="dropAction dropBefore" href="#">Drop before</a></li>
                  <li><a class="dropAction dropInside" href="#">Drop inside</a></li>
                  <li><a class="dropAction dropAfter" href="#">Drop after</a></li>
                </ul>
              </div>
					    <div class="checkbox pull-right marginTopBottom0Px">
                <input type="checkbox" class="itemControl selectItemBox">
              </div>
          	</div>
						<div class="col-xs-10 col-xs-offset-1">
							<hr class="marginTopBottom0Px">
						</div>
        	</div>
      	</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="textAlignCenter">
							<ul class="containerContentsPagination pagination pagination-sm hidden">
							</ul>							
						</div>
					</div>
				</div>				
			</div>
			<br>
      <!-- New item options modal -->
      <div class="modal fade" id="newItemOptionsModal" tabindex="-1" role="dialog" aria-labelledby="newItemOptionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="closeNewItemOptionsModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="newItemOptionsModalLabel">Please Select a Type</h4>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <a href="/safe/createAPage" target="_blank" class="list-group-item safeItemOption" id="Page">
                  <i class="fa fa-file-text-o safeItemTypeIcon" aria-hidden="true"></i><em>Page</em>
                </a>
                <a href="https://www.bsafes.com" target="_blank" class="list-group-item safeItemOption">
                  <i class="fa fa-picture-o safeItemTypeIcon" aria-hidden="true"></i><em>Photos</em>
                </a>
                <a href="/safe/createANotebook" target="_blank" class="list-group-item safeItemOption" id="Notebook">
                  <i class="fa fa-book safeItemTypeIcon" aria-hidden="true"></i><em>Notebook</em>
                </a>
                <a href="#" class="list-group-item safeItemOption" id="Diary">
                  <i class="fa fa-calendar safeItemTypeIcon" aria-hidden="true"></i><em>Diary</em>
                </a>
                <a href="/safe/createABox" target="_blank" class="list-group-item safeItemOption safeItemBoxTypeOption" id="Box">
                  <i class="fa fa-archive safeItemTypeIcon" aria-hidden="true"></i><em>Box</em>
                </a>
                <a href="/safe/createAFolder" target="_blank" class="list-group-item safeItemOption safeItemFolderTypeOption" id="Folder">
                  <i class="fa fa-folder-o safeItemTypeIcon" aria-hidden="true"></i><em>Folder</em>
                </a>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Title Modal -->
      <div class="modal titleModal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close closeTitleModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input class="form-control titleInput" type="text" placeholder="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default closeTitleModal" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="createAnItem">Create</button>
            </div>
          </div>
        </div>
      </div>
		</div>
		<% include turningPageRow %>
		<% include containerCommon %>
		<% include itemsToolbar %>
    <% include navBarBottom %>
    <%
      var loadForgeJS = true;
      var tagsJS = true;
      var containerJS = true;
      var editorJS = true;
      var keyVerifiedState = true;
    %>
    <% include scripts %>

  </body>
</html>
