    <div class="btnEditor btn btnFloatingSave btnFloating btnSave hidden"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
    <div class="btnEditor btn btnFloatingCancel btnFloating btnCancel hidden"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
