        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
					<a href="#" class="btn btn-link" id="openBtn">
        		<div class="containerOpenBtn text-center">
							<h6>Open</h6>
							<h3 class="containerOpenBtn-text1"><i class="fa fa-circle" aria-hidden="true"></i></h3>
        		</div>
        	</a>
				</div>

