      <!-- copyLink Modal -->
      <div class="modal copyLinkModal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header marginBottom0Px">
              <button type="button" class="close closeCopyLinkModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h5 class="modal-title">On another device, go to</h5>
            </div>
            <div class="modal-body paddingTop0Px">
							<div class="text-center">
								<h4 class="marginTop0Px">www.bsafes.com/T</h4>	
							</div>
							<div class="">
                <h6>Search by last four characters of your account Id</h6>  
              </div>
							<div class="text-center">
                <h4 class="lastFourOfId marginTop0Px">AB12</h4>
              </div>
							<div class="">
                <h6>Your full Id is</h6> 
              </div>
							<div class="">
                <p class="fullId marginTop0Px fontSize75Percent">fasdfhjasdfjklasd</p>
              </div>	
							<h6>Your account link is</h6>
              <div class="form-group">
                <input class="form-control" id="copyLinkInput" type="text" placeholder="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default closeCopyLinkModal" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="copyLinkBtn">Copy</button>
            </div>
          </div>
        </div>
      </div>

