<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Force latest IE rendering engine or ChromeFrame if installed -->
  	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		<meta charset="utf-8">
		<meta name="google-site-verification" content="erK3Xi2OemITRzDtIGOmhxsnBrxb_uhZgY4oX-uI-Sw" />
    <title>BSafes - Simply Secure Your Content</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%
			var fontawesomeV5 = true;
		%>
		<% include stylesheets %>
		<% include commonHeader %>
  </head>
  <body class="backgroundColorWhite">
		<% include navBar %>
		<br>
		<br>
		<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">BSafes <span class="text-muted"></span></h2>
          <p class="lead">Encrypted Note-Taking, Office Filing Solution for Teams & Individuals.</p>
          <p class="">Built for privacy, end-to-encrypted, and open-source.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/cuteDataProtection.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Why BSafes? <span class="text-muted"></span></h2>
          <p class="lead">Because you don't want your sensitive information and critical data seen by unintended parties, including IT staffs, cloud service providers, and hackers.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/images/cuteHacker.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Benefits: <span class="text-muted"></span></h2>
          <ul style="list-style-type:disc;">
  					<li class="lead">More secure.</li>
  					<li class="lead">More productive.</li>
  					<li class="lead">Teamwork.</li>
  					<li class="lead">Cost savings.</li>
					</ul>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/cuteMedal.jpg">
        </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">How does BSafes protect your data privacy and data security?<span class="text-muted"></span></h2>
          <p class="">Your device encrypts data before sending it to cloud, and you own the key to decrypt. It is feasibly impossible for unintended parties to view your data, not even BSafes.</p>
          <p>BSafes client side encryption is open-source, security experts can review BSafes security measures, including:</p>
          <ul style="list-style-type:disc;">
  					<li class="lead">Multifactor authentication.</li>
  					<li class="lead">End-to-end encryption.</li>
  					<li class="lead">AES-256 standard.</li>
  					<li class="lead">Public key infrastructure.</li>
					</ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/images/cuteSecurity.jpg">
        </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Get your team members on the same page.<span class="text-muted"></span></h2>
          <ul style="list-style-type:disc;">
  					<li class="lead">Unlimited members in one account.</li>
  					<li class="lead">Each member has her own personal workspace.</li>
  					<li class="lead">Unlimited teams.</li>
  					<li class="lead">Each team has a dedicated workspace.</li>
  					<li class="lead">Revision history.</li>
					</ul>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/cuteTeam.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2019 Wu-Nan Technology, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
		<% 
			 var indexJS = true;
			 var signedOutState = true;
		%>	
		<% include scripts %>
  </body>
</html>
