    <div class="itemNavigationRow">
      <a href="#" class="previousItemBtn pageBtn btn btn-default" id="previousItemBtn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <a href="#" class="nextItemBtn pageBtn btn btn-default" id="nextItemBtn"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
