    <div class="row itemBottomToolbar hidden">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-3 col-sm-2 col-sm-offset-6">
            <div class="text-center">
              <a href="#" class="btn btn-link btn-xs margin0Px" id="moveAnItemBtn"><i class="fa fa-2x fa-hand-o-right whiteText" aria-hidden="true"></i></a>
            </div>
            <h6 class="text-center margin0Px whiteText">Move</h6>
          </div>
          <div class="col-xs-3 col-sm-2">
            <div class="text-center">
              <a href="#" class="btn btn-link btn-xs margin0Px" id="trashAnItemBtn"><i class="fa fa-2x fa-trash whiteText" aria-hidden="true"></i></a>
            </div>
            <h6 class="text-center margin0Px whiteText">Trash</h6>
          </div>
				  <div class="col-xs-3 col-sm-2">
            <div class="text-center">
              <a href="#" class="btn btn-link btn-xs margin0Px" id="cancelMoreActionsBtn"><i class="fa fa-2x fa-remove whiteText" aria-hidden="true"></i></a>
            </div>
            <h6 class="text-center margin0Px whiteText">Cancel</h6>
          </div>	
        </div>
      </div>
    </div>

      <!-- Move Items modal -->
      <div class="modal fade" id="moveAnItemModal" tabindex="-1" role="dialog" aria-labelledby="moveItemsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="closeMoveItemsModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="moveItemsModalLabel">Move to</h4>
            </div>
            <div class="modal-body">
							<div class="moveItemsPathRow">
        				<ul class="moveItemsPathItemsList breadcrumb">
        				</ul>
        				<li class="moveItemsPathItemTemplate hidden"><a href="#" class="">Container</a></li>
        				<li class="moveItemsPathItemNameTemplate hidden"></li>
      				</div>
							<div class="warningMessage hidden">
								<p class="E74C3CText">Oops, you could only drop pages in a folder!</p>
							</div>
              <div class="list-group containersList">
              
              </div>
							<div class="text-center">
								<a href="#" class="hidden" id="moreContainersBtn">More</a>
							</div> 
							<a href="#" class="boxTemplate list-group-item hidden">
                <i class="fa fa-archive safeItemTypeIcon" aria-hidden="true"></i><em class="fontSize18Px">Box</em>
              </a>
              <a href="#" class="folderTemplate list-group-item hidden">
                <i class="fa fa-folder-o safeItemTypeIcon" aria-hidden="true"></i><em class="fontSize18Px">Folder</em>
              </a>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-sm" id="dropAnItemBtn">Drop</a>
							</div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
	
      <!-- Trash Modal -->
      <div class="modal fade" id="trashAnItemModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close closeTrashModal" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Are your sure?</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input class="form-control" id="trashInput" type="text" placeholder="Yes" value="No">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default closeTrashModal" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="goTrashAnItemBtn">Go</button>
            </div>
          </div>
        </div>
      </div>
