	<div class="row margin0Px">
		<div class="col-xs-10 col-sm-11 paddingLeft0Px">
  		<div class="pathRow">
    		<ul class="pathItemsList breadcrumb">
      		<li class="teamsPathItem"><a href="javascript:navigateView('/teams/')" class="teamsPathLink">&nbsp<i class="fa fa-building" aria-hidden="true"></i> Teams&nbsp</a></li>
    		</ul>
    		<li class="pathItemTemplate hidden"><a href="#" class="itemInSamePage">Home</a></li>
    		<li class="pathItemNameTemplate hidden"></li>
			</div>
		</div>
		<div class="col-xs-2 col-sm-1">
   		<a href="#" class="btn btn-primary pull-right dropdown-toggle" id="addANewTabBtn" data-toggle="dropdown"><i class="fa fa-plus" aria-hidden="true"></i></a>
			<ul class="pull-right dropdown-menu newTabDropdownMenu">
				<li><a href="javascript:navigateView('/teams/')" target="_blank"><span class="fontWeightBold">Teams</span></a></li>
				<li><a href="/safe" target="_blank"><span class="fontWeightBold">Personal</span></a></li>
        <li class="newTabTemplate hidden"><a href="#" target="_blank">Another tab</a></li>
       </ul>
 		</div>
	</div>
