<div class="btnEditor btn btnFloatingWrite btnFloating btnLog hidden" id="content"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" id="content"></i></div>

<div class="modal fade" id="logDownloadItemsModal" tabindex="-1" role="dialog" aria-labelledby="moveItemsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close closeLogDownloadItemsModal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="moveItemsModalLabel">Downloads History</h4>
			</div>
			<!-- <div class="moveItemsPathRow">
				<ul class="moveItemsPathItemsList breadcrumb">
				</ul>
				<li class="moveItemsPathItemTemplate hidden"><a href="#" class="">Container</a></li>
				<li class="moveItemsPathItemNameTemplate hidden"></li>
			</div> -->
			<div class="moveItemsPathRow hidden">
				<ul class="moveItemsPathItemsList breadcrumb">
					<li class="moveItemsPathItemTemplate">
						<span class='log_time'></span>&nbsp;&nbsp;&nbsp;
						<a href="#" class="item"><span class='log_skey' skey=''></span><span class='log_txt'></span></a>
					</li>
					<li class="moveItemsPathItemNameTemplate hidden"></li>
				</ul>				
			</div>
			<div class="modal-body">
				<div class="tmp_body"></div>
			</div>
		</div>
	<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>