
<nav class="navbar-bottom navbar-fixed-bottom text-center"> 
	<!-- <span class="col-sm-4"><a class="" href="#">Local</a></span>
	<span class="col-sm-4 bottom-active">BSafes.com</span>
	<span class="col-sm-4"><a class="" href="#">Downloads</a></span> -->
	<span><button class="col-sm-3 btnLocal" >Local</button></span>
	<span><button class="col-sm-3 btnBSafes">BSafes.com</button></span>
	<span class="col-sm-3 bottom-active">Downloads</span>
	<span><button class="col-sm-3 btnTools">Tools</button></span>
</nav>

<script type="text/javascript">
	
</script>
